// https://www.schemecolor.com/python-logo-colors.php

$accentColor = #FFD43B
// $textColor = #646464
// $borderColor = #306998
// $codeBgColor = #FFE873
// $arrowBgColor = #ccc
// $badgeTipColor = #42b983
// $badgeWarningColor = #FFE873
// $badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// custome configs

$BorderRadius = 0.4rem