// https://www.schemecolor.com/python-logo-colors.php

$accentColor = $yellowD
// $textColor = #646464
// $borderColor = #306998
// $codeBgColor = #FFE873
// $arrowBgColor = #ccc
$badgeTipColor = $blueL
$badgeWarningColor = $yellowD
$badgeErrorColor = $greyL

// Reading Progress
// $readingBgColor = transparent
// $readingZIndex = 1000
// $readingSize = 3px
$readingProgressColor = $blueL
// $readingProgressImage = none

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// custome configs
$BorderRadius = 0.4rem
$Padding = 0.3rem       // all sides

// Python color pallet L-lighter shade D - Darker varient
$blueL = #4B8BBE
$blueD = #306998
$yellowL = #FFE873
$yellowD = #edba02
$greyL = #646464
$containerbg = #f0f4f8
$githubRed = #d73a49
